[submodule "order-reception/grpc-interface"]
	path = order-reception/grpc-interface
	url = git@github.com:tetsuya-azami/grpc-interface.git
        ignore = dirty
[submodule "order-processing/grpc-interface"]
	path = order-processing/grpc-interface
	url = git@github.com:tetsuya-azami/grpc-interface.git
        ignore = dirty
[submodule "merchant-administration/grpc-interface"]
	path = merchant-administration/grpc-interface
	url = git@github.com:tetsuya-azami/grpc-interface.git
        ignore = dirty